artifacts/
bin/
obj/
TestResults/
.vs/
*.user
*.suo
*.nupkg
*.snupkg
*.msi
test/results/
test/glpi/.env
test/vagrant-windows/.vagrant/
packaging/wix/HarvestedFiles.wxs
test/vagrant-windows/results/
test/vagrant-windows/artifacts/
*.zip
