[Unit]
Description=Executa o Go FusionInventory Agent periodicamente

[Timer]
# uma vez por hora, com atraso aleatório para distribuir a carga no servidor
OnCalendar=hourly
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
